#hero {
    width: 100%;
    max-width: 800px;
    overflow: hidden;
}

#hero img {
    width: 100%;
    height: auto;
    z-index: -10;
    position: absolute;
}

#hero .title{
    font-size: 60px;
    max-width: 200px;
    font-weight: 600;
    position: absolute;
    color: white;
    top: 100px;
    left: 100px;
}

#hero_btn{
    position: absolute;
    top: 380px;
    left: 100px;
    z-index: 100;
}

@media only screen and (max-width: 768px){
    body{
        overflow: hidden;
    }

    #hero img{
        height:100%;
        width: auto;
        object-fit: cover;
        transform: translate(-40%,0%);
    }

    #Hhero .title {
        font-size: 45px;
        font-weight: 700;
        top: 50%;
    }

    #hero_btn {
        top: 43%;
    }
}
