
body {
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 50px;
    padding: 0;
    margin: auto;
}

nav {
    position: sticky;
    top: 0;
    background: rgb(0, 157, 255);
    height: 75px;
    width: 100%;    
    overflow: hidden;
    z-index: 1000;
}

footer {
    background: black;
    height: 500px;
}

.section {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

#intro {
    text-align: center;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/9bc27292880429.5e569ff84e4d0.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#ads {
    padding: 10px;
}

#ads div{
    border: 2px dotted cyan
}

#ads div:first-child{
    background: black;
    position: absolute;
    width: 300px;
}

#ads div:nth-child{
    width: 100px;
    position: absolute;
}

#ads div:last-child{
    background: navy;
    position: fixed;
    top: 50%;
    width: 50px;
    z-index: 1001;
}