#hero {
    position: relative;
    text-align: center;
    color: white;
  }
  
  #hero img {
    width: 100%;
    height: auto;
  }
  
  .hero.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
  }
  
  .hero.btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }